<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sample.Main">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sample.Main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DiscoveryDeviceActivity"
            android:exported="false"
            android:label="@string/app_discovery_device_name"
            android:theme="@style/Theme.Sample.Main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectMaskActivity"
            android:exported="false"
            android:label="@string/app_selection_mask_name"
            android:theme="@style/Theme.Sample.Main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RfidReadWriteActivity"
            android:exported="false"
            android:label="@string/app_rfid_read_write_name"
            android:theme="@style/Theme.Sample.Main"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RfidLockKillActivity"
            android:exported="false"
            android:label="@string/app_rfid_lock_kill_name"
            android:theme="@style/Theme.Sample.Main"
            android:screenOrientation="portrait"/>


        <receiver android:name=".receiver.GlobalKeyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <provider android:name="com.apulsetech.lib.provider.LocalStateProvider"
            android:authorities="com.apulsetech.sample.bluetooth.rfid.tag_access_sample.LocalStateProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>